{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

</style>

<div class="example-wrapper">
    {% if id is defined and id is not empty %}
        <h1>Hello {{ contact.firstname }}</h1>
        <ul>
            <li>Id = {{ contact.id }}</li>
            <li>Nom = {{ contact.name }}</li>
            <li>Prénom = {{ contact.firstname }}</li>
            <li>Mail = {{ contact.email }}</li>
            <li>Sujet {{ contact.subject }}</li>
            <li>Message = {{ contact.message }}</li>
            <li>Newsletter = {{ contact.newletter }}</li>
        </ul>
    {% else %}
        <h1>Hello {{ customerName }}</h1>
        {% set numberOfContact = contact | length %}

        {% if city is defined and city is not empty %}
            <h2>Tu es dans la ville de {{ city }}</h2>
        {% endif %}

        {% if (numberOfContact > 0) %}
            {{ dump(contact) }}

            {% for c in contact %}
                <a href="https://localhost:8000/contactId/{{ c.id }}">{{ c.name }} {{ c.firstname }}</a>
            {% endfor %}
        {% endif %}
    {% endif %}

{{ form(form) }}
</div>
{% endblock %}
